In [91]:
import pandas as pd

In [92]:
#loading in the population data for the per capita calculation
population=pd.read_csv("Raw_Data/POP_RAW_coherent.csv", encoding='latin1')
population.head()

,Index,Variant,"Region, subregion, country or area *",Notes,Country code,1950,1951,1952,1953,1954,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,Estimates,WORLD,NaN,900,2 536 275,2 583 817,2 630 584,2 677 230,2 724 302,...,6 623 848,6 706 419,6 789 771,6 873 741,6 958 169,7 043 009,7 128 177,7 213 426,7 298 453,7 383 009
1,2,Estimates,More developed regions,a,901,814 865,824 213,834 074,844 264,854 632,...,1 215 325,1 220 392,1 225 552,1 230 534,1 235 143,1 239 298,1 243 055,1 246 520,1 249 864,1 253 207
2,3,Estimates,Less developed regions,b,902,1 721 410,1 759 604,1 796 510,1 832 967,1 869 671,...,5 408 523,5 486 027,5 564 219,5 643 207,5 723 027,5 803 711,5 885 122,5 966 906,6 048 590,6 129 802
3,4,Estimates,Least developed countries,c,941,195 259,199 052,202 905,206 885,211 045,...,772 489,790 978,809 731,828 953,848 792,869 298,890 423,912 094,934 192,956 631
4,5,Estimates,"Less developed regions, excluding least develo...",d,934,1 526 151,1 560 552,1 593 605,1 626 082,1 658 626,...,4 636 034,4 695 048,4 754 488,4 814 254,4 874 235,4 934 413,4 994 699,5 054 812,5 114 397,5 173 171

In [93]:
#setting the index to the country name, so that we can access each cell by country name and year
population=population.set_index('Region, subregion, country or area *')
population.head()

,Index,Variant,Notes,Country code,1950,1951,1952,1953,1954,1955,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
"Region, subregion, country or area *",,,,,,,,,,,,,,,,,,,,,
WORLD,1,Estimates,NaN,900,2 536 275,2 583 817,2 630 584,2 677 230,2 724 302,2 772 243,...,6 623 848,6 706 419,6 789 771,6 873 741,6 958 169,7 043 009,7 128 177,7 213 426,7 298 453,7 383 009
More developed regions,2,Estimates,a,901,814 865,824 213,834 074,844 264,854 632,865 069,...,1 215 325,1 220 392,1 225 552,1 230 534,1 235 143,1 239 298,1 243 055,1 246 520,1 249 864,1 253 207
Less developed regions,3,Estimates,b,902,1 721 410,1 759 604,1 796 510,1 832 967,1 869 671,1 907 173,...,5 408 523,5 486 027,5 564 219,5 643 207,5 723 027,5 803 711,5 885 122,5 966 906,6 048 590,6 129 802
Least developed countries,4,Estimates,c,941,195 259,199 052,202 905,206 885,211 045,215 421,...,772 489,790 978,809 731,828 953,848 792,869 298,890 423,912 094,934 192,956 631
"Less developed regions, excluding least developed countries",5,Estimates,d,934,1 526 151,1 560 552,1 593 605,1 626 082,1 658 626,1 691 752,...,4 636 034,4 695 048,4 754 488,4 814 254,4 874 235,4 934 413,4 994 699,5 054 812,5 114 397,5 173 171

In [94]:
#checking if this form of accessing works
country='Zambia'
year='2007'
print(int(population.loc[country][year].replace(" ", ""))*1000)

12726000

In [95]:
#loading in the data for dev aid for the last 20 years (ODA for all donors not only DAC/OECD)
ODAfromall=pd.read_csv("Raw_Data/ODAfromall.csv")

In [96]:
ODAfromall.head()

,RECIPIENT,Recipient,DONOR,Donor,PART,Part,AIDTYPE,Aid type,DATATYPE,Amount type,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,71,Albania,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1993,USD,US Dollar,6,Millions,2015,2015,373.79,NaN,NaN
1,71,Albania,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1994,USD,US Dollar,6,Millions,2015,2015,207.09,NaN,NaN
2,71,Albania,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1995,USD,US Dollar,6,Millions,2015,2015,210.32,NaN,NaN
3,71,Albania,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1996,USD,US Dollar,6,Millions,2015,2015,272.03,NaN,NaN
4,71,Albania,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1997,USD,US Dollar,6,Millions,2015,2015,215.06,NaN,NaN

In [97]:
#sort the data first by recipient and then by donor and year
ODAfromall=ODAfromall.sort_values(by=["Recipient","Donor","Year"])
testdata=ODAfromall
#testdata=testdata.head()
testdata

,RECIPIENT,Recipient,DONOR,Donor,PART,Part,AIDTYPE,Aid type,DATATYPE,Amount type,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
1286,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1993,USD,US Dollar,6,Millions,2015,2015,312.05,NaN,NaN
3170,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,1993,USD,US Dollar,6,Millions,2015,2015,312.14,NaN,NaN
1287,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1994,USD,US Dollar,6,Millions,2015,2015,309.06,NaN,NaN
3171,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,1994,USD,US Dollar,6,Millions,2015,2015,309.16,NaN,NaN
1288,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1995,USD,US Dollar,6,Millions,2015,2015,254.04,NaN,NaN
3172,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,1995,USD,US Dollar,6,Millions,2015,2015,254.13,NaN,NaN
1289,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1996,USD,US Dollar,6,Millions,2015,2015,204.86,NaN,NaN
3173,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,1996,USD,US Dollar,6,Millions,2015,2015,204.95,NaN,NaN
1290,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1997,USD,US Dollar,6,Millions,2015,2015,306.80,NaN,NaN
3174,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,1997,USD,US Dollar,6,Millions,2015,2015,306.84,NaN,NaN
1291,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1998,USD,US Dollar,6,Millions,2015,2015,221.90,NaN,NaN
3175,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,1998,USD,US Dollar,6,Millions,2015,2015,222.08,NaN,NaN
1292,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,1999,USD,US Dollar,6,Millions,2015,2015,196.35,NaN,NaN
3176,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,1999,USD,US Dollar,6,Millions,2015,2015,194.26,NaN,NaN
1293,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2000,USD,US Dollar,6,Millions,2015,2015,203.28,NaN,NaN
3177,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2000,USD,US Dollar,6,Millions,2015,2015,203.28,NaN,NaN
1294,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2001,USD,US Dollar,6,Millions,2015,2015,636.58,NaN,NaN
3178,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2001,USD,US Dollar,6,Millions,2015,2015,636.58,NaN,NaN
1295,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2002,USD,US Dollar,6,Millions,2015,2015,1803.95,NaN,NaN
3179,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2002,USD,US Dollar,6,Millions,2015,2015,1871.52,NaN,NaN
1296,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2003,USD,US Dollar,6,Millions,2015,2015,1918.46,NaN,NaN
3180,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2003,USD,US Dollar,6,Millions,2015,2015,1949.32,NaN,NaN
1297,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2004,USD,US Dollar,6,Millions,2015,2015,2584.39,NaN,NaN
3181,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2004,USD,US Dollar,6,Millions,2015,2015,2588.32,NaN,NaN
1298,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2005,USD,US Dollar,6,Millions,2015,2015,3159.70,NaN,NaN
3182,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2005,USD,US Dollar,6,Millions,2015,2015,3163.58,NaN,NaN
1299,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2006,USD,US Dollar,6,Millions,2015,2015,3194.76,NaN,NaN
3183,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2006,USD,US Dollar,6,Millions,2015,2015,3198.92,NaN,NaN
1300,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2007,USD,US Dollar,6,Millions,2015,2015,5026.85,NaN,NaN
3184,625,Afghanistan,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2007,USD,US Dollar,6,Millions,2015,2015,5028.15,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2001,USD,US Dollar,6,Millions,2015,2015,226.12,NaN,NaN
2718,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2001,USD,US Dollar,6,Millions,2015,2015,260.36,NaN,NaN
835,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2002,USD,US Dollar,6,Millions,2015,2015,266.19,NaN,NaN
2719,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2002,USD,US Dollar,6,Millions,2015,2015,293.18,NaN,NaN
836,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2003,USD,US Dollar,6,Millions,2015,2015,225.37,NaN,NaN
2720,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2003,USD,US Dollar,6,Millions,2015,2015,242.54,NaN,NaN
837,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2004,USD,US Dollar,6,Millions,2015,2015,204.18,NaN,NaN
2721,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2004,USD,US Dollar,6,Millions,2015,2015,232.69,NaN,NaN
838,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2005,USD,US Dollar,6,Millions,2015,2015,397.19,NaN,NaN
2722,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2005,USD,US Dollar,6,Millions,2015,2015,408.19,NaN,NaN
839,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2006,USD,US Dollar,6,Millions,2015,2015,283.49,NaN,NaN
2723,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2006,USD,US Dollar,6,Millions,2015,2015,293.07,NaN,NaN
840,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2007,USD,US Dollar,6,Millions,2015,2015,462.69,NaN,NaN
2724,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2007,USD,US Dollar,6,Millions,2015,2015,463.05,NaN,NaN
841,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2008,USD,US Dollar,6,Millions,2015,2015,589.60,NaN,NaN
2725,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2008,USD,US Dollar,6,Millions,2015,2015,593.11,NaN,NaN
842,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2009,USD,US Dollar,6,Millions,2015,2015,734.43,NaN,NaN
2726,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2009,USD,US Dollar,6,Millions,2015,2015,734.55,NaN,NaN
843,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2010,USD,US Dollar,6,Millions,2015,2015,685.47,NaN,NaN
2727,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2010,USD,US Dollar,6,Millions,2015,2015,694.01,NaN,NaN
844,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2011,USD,US Dollar,6,Millions,2015,2015,655.02,NaN,NaN
2728,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2011,USD,US Dollar,6,Millions,2015,2015,659.82,NaN,NaN
845,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2012,USD,US Dollar,6,Millions,2015,2015,928.94,NaN,NaN
2729,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2012,USD,US Dollar,6,Millions,2015,2015,938.88,NaN,NaN
846,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2013,USD,US Dollar,6,Millions,2015,2015,759.35,NaN,NaN
2730,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2013,USD,US Dollar,6,Millions,2015,2015,783.50,NaN,NaN
847,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2014,USD,US Dollar,6,Millions,2015,2015,696.59,NaN,NaN
2731,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2014,USD,US Dollar,6,Millions,2015,2015,701.70,NaN,NaN
848,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,206,ODA: Total Net,D,Constant Prices,...,2015,USD,US Dollar,6,Millions,2015,2015,788.29,NaN,NaN
2732,265,Zimbabwe,20005,"All Donors, Total",1,1 : Part I - Developing Countries,240,"Memo: ODA Total, Gross disbursements",D,Constant Prices,...,2015,USD,US Dollar,6,Millions,2015,2015,815.16,NaN,NaN

In [98]:
#create an empty dataframe for storing the results
emptyframe = pd.DataFrame(columns=["Recipient","Year","Money spent per capita"])

#iterate through the dataframe row by row
for index, row in testdata.iterrows():
    #if the donor is "all donors" and if the aid type is the oda total, gross
    if row["Donor"]=="All Donors, Total" and row["Aid type"]=="Memo: ODA Total, Gross disbursements" and row["Amount type"]=="Constant Prices":
        #then set the recipient variable to recipient of the row
        recipient=row["Recipient"]
        annus=str(row["Year"])
        try:
            #we divide the foreign aid transferred to this country by the population of this country
            cashpercap=row["Value"]*1000000/(int(population.loc[recipient][annus].replace(" ", ""))*1000)
            cash=row["Value"]*1000000
            #and append the name of the recipient, the year and the sum spent per capita
            df2 = pd.DataFrame([[recipient,annus,cash,cashpercap]], columns=["Recipient","Year","Overall Sum","Money spent per capita"])
            emptyframe=emptyframe.append(df2,ignore_index=True)
        except KeyError:
            continue

In [99]:
#sanity checks
emptyframe=emptyframe[["Recipient","Year","Overall Sum","Money spent per capita"]]
print(emptyframe.head())

     Recipient  Year  Overall Sum  Money spent per capita
0  Afghanistan  1993  312140000.0               20.678370
1  Afghanistan  1994  309160000.0               19.115810
2  Afghanistan  1995  254130000.0               14.861404
3  Afghanistan  1996  204950000.0               11.499186
4  Afghanistan  1997  306840000.0               16.692416

In [100]:
#dropping all NaNs
print(len(emptyframe))
emptyframe=emptyframe.dropna(axis=1, how='any')
print(len(emptyframe))

3009
3009

In [101]:
#saving the dataframe with the data about cash spent per capita in each country per pyear 
emptyframe.to_csv("FinalData/AllRecipients_Yearly_ODA.csv", index=False)

In [102]:
#devaidcap=pd.read_csv("FinalData/AllRecipients_Yearly_ODA.csv")

#sorting again the dataframe by recipient and year
devaid=emptyframe.sort_values(by=["Recipient","Year"])

In [103]:
#sanity checks
devaid.head()

     Recipient  Year  Overall Sum  Money spent per capita
0  Afghanistan  1993  312140000.0               20.678370
1  Afghanistan  1994  309160000.0               19.115810
2  Afghanistan  1995  254130000.0               14.861404
3  Afghanistan  1996  204950000.0               11.499186
4  Afghanistan  1997  306840000.0               16.692416

In [104]:
#loading in the data
testdata=devaid

In [105]:
#now we run this script to calculate the average over three years as described in the paper
#first creating an emptydataframe to append the results of our calculations to
emptyframe3 = pd.DataFrame(columns=['Recipient','Report Year',"3yrAverage Money"])

#now we define for each column two variables that allow us to track
#the recipient, the year and the money from the previous year
#and the recipient, the year and the money from the year before 
previousrecipient="0"
recipient2="0"

previousyear=0
year2=0

previousmoney=0
money2=0

previousmoneypercap=0
moneypercap2=0

#now we iterate through the dataframe
for index, row in testdata.iterrows():
    #and pick up the recipient, the year and the money received for the current row
    recipient=row[0]
    year=int(row[1])
    money=row[2]
    moneypercap=row[3]
    
    #if the number of current year is bigger than from the previous year
    #and the previous year is one year bigger than the year before
    if (year-1==previousyear)and(previousyear-1==year2):
        #and the recipient has been the same through all of these years
        if (recipient==previousrecipient)and(previousrecipient==recipient2):
            
            #we calculate the average sum of devaid built from the current year, the previous year and the year before
            average=(money+previousmoney+money2)/3
            averagepercap=(moneypercap+previousmoneypercap+moneypercap2)/3
            #and define the reportyear as the year after
            reportyear=int(year+1)
            
            #and then we add the recipient, the reportyear and the average of these three years to our dataframe
            df2 = pd.DataFrame([[recipient,reportyear,average, averagepercap]], columns=['Recipient','Report Year',"3yrAverage Money","3yrAverage Money per cap"])
            emptyframe3=emptyframe3.append(df2,ignore_index=True)
            
            #and then we redefine for these variable by shifting them
            #the recipient from two years ago becomes the one from the previous year
            #the previous recipient becomes the one from the current row
            #and so on
            recipient2=previousrecipient
            previousrecipient=recipient

            year2=previousyear
            previousyear=year

            money2=previousmoney
            previousmoney=money
            
            moneypercap2=previousmoneypercap
            previousmoneypercap=moneypercap
        else:
            pass
    
    else:
        pass
        #and we do this shift/exchange also when the if statement was not true
        recipient2=previousrecipient
        previousrecipient=recipient

        year2=previousyear
        previousyear=year

        moneypercap2=previousmoneypercap
        previousmoneypercap=moneypercap

In [106]:
#sanity checks
emptyframe3=emptyframe3[["Recipient","Report Year","3yrAverage Money","3yrAverage Money per cap"]]
emptyframe3.head()

     Recipient  Report Year  3yrAverage Money  3yrAverage Money per cap
0  Afghanistan       1996.0      8.471000e+07                 18.218528
1  Afghanistan       1997.0      1.530267e+08                 15.158800
2  Afghanistan       1998.0      2.553067e+08                 14.351002
3  Afghanistan       1999.0      2.446233e+08                 13.321431
4  Afghanistan       2000.0      2.410600e+08                 12.825481

In [107]:
emptyframe3.tail()

     Recipient  Report Year  3yrAverage Money  3yrAverage Money per cap
2734  Zimbabwe       2012.0      6.961267e+08                 49.439197
2735  Zimbabwe       2013.0      7.642367e+08                 52.984451
2736  Zimbabwe       2014.0      7.940667e+08                 53.908793
2737  Zimbabwe       2015.0      8.080267e+08                 53.797866
2738  Zimbabwe       2016.0      7.667867e+08                 49.746529

In [108]:
emptyframe3.to_csv("FinalData/AllRecipients_3YearAVG_ODA.csv")
devaid3yrs=emptyframe3

In [109]:
#now we load the file of migration of the last 20 years in OECD countries
#so this is a statistic for each OECD country noting how many migrants from each country it has uptaken in each year
rawfilemig=pd.read_csv("Raw_Data/MIG_RAW_20yrs_coherent.csv", encoding="latin1")

In [110]:
rawfilemig.head()

,"Â•ÃˆÃ€""CO2""",Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1997,1997,368.0,NaN,NaN
1,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1998,1998,620.0,NaN,NaN
2,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1999,1999,852.0,NaN,NaN
3,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2000,2000,887.0,NaN,NaN
4,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2001,2001,456.0,NaN,NaN

In [111]:
#we first sort the dataframe by the country of birth, then the country they migrated to and then by the year
rawfilemig=rawfilemig.sort_values(by=['Country of birth/nationality', 'Year', 'Country'])

In [112]:
#we load this data in
testdata=rawfilemig
#testdata=testdata.head()
testdata

,"Â•ÃˆÃ€""CO2""",Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
45,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,CAN,Canada,1996,1996,2010.0,NaN,NaN
78,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,DNK,Denmark,1996,1996,335.0,NaN,NaN
117,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,FRA,France,1996,1996,131.0,NaN,NaN
137,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,DEU,Germany,1996,1996,7019.0,NaN,NaN
231,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,LUX,Luxembourg,1996,1996,1.0,NaN,NaN
289,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,NOR,Norway,1996,1996,4.0,NaN,NaN
351,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,SWE,Sweden,1996,1996,570.0,NaN,NaN
377,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,TUR,Turkey,1996,1996,2695.0,NaN,NaN
0,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1997,1997,368.0,NaN,NaN
46,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,CAN,Canada,1997,1997,2115.0,NaN,NaN
79,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,DNK,Denmark,1997,1997,319.0,NaN,NaN
98,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,FIN,Finland,1997,1997,8.0,NaN,NaN
118,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,FRA,France,1997,1997,92.0,NaN,NaN
138,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,DEU,Germany,1997,1997,5526.0,NaN,NaN
232,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,LUX,Luxembourg,1997,1997,1.0,NaN,NaN
290,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,NOR,Norway,1997,1997,34.0,NaN,NaN
332,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,ESP,Spain,1997,1997,2.0,NaN,NaN
352,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,SWE,Sweden,1997,1997,612.0,NaN,NaN
378,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,TUR,Turkey,1997,1997,2933.0,NaN,NaN
389,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,USA,United States,1997,1997,1127.0,NaN,NaN
1,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1998,1998,620.0,NaN,NaN
19,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUT,Austria,1998,1998,198.0,NaN,NaN
47,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,CAN,Canada,1998,1998,1583.0,NaN,NaN
80,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,DNK,Denmark,1998,1998,443.0,NaN,NaN
99,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,FIN,Finland,1998,1998,15.0,NaN,NaN
119,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,FRA,France,1998,1998,87.0,NaN,NaN
139,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,DEU,Germany,1998,1998,4768.0,NaN,NaN
436,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,ISR,Israel,1998,1998,0.0,NaN,NaN
233,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,LUX,Luxembourg,1998,1998,0.0,NaN,NaN
291,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,NOR,Norway,1998,1998,42.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84744,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,CHE,Switzerland,2014,2014,28.0,NaN,NaN
84775,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,USA,United States,2014,2014,797.0,NaN,NaN
84402,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2015,2015,806.0,NaN,NaN
84420,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,AUT,Austria,2015,2015,14.0,NaN,NaN
84427,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,BEL,Belgium,2015,2015,31.0,NaN,NaN
84447,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,CAN,Canada,2015,2015,238.0,NaN,NaN
84788,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,CHL,Chile,2015,2015,1.0,NaN,NaN
84459,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,CZE,Czech Republic,2015,2015,6.0,NaN,NaN
84478,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,DNK,Denmark,2015,2015,8.0,NaN,NaN
84800,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,EST,Estonia,2015,2015,0.0,NaN,NaN
84497,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,FIN,Finland,2015,2015,5.0,NaN,NaN
84517,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,FRA,France,2015,2015,17.0,NaN,NaN
84537,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,DEU,Germany,2015,2015,204.0,NaN,NaN
84552,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,HUN,Hungary,2015,2015,6.0,NaN,NaN
84569,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,ISL,Iceland,2015,2015,1.0,NaN,NaN
84585,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,ITA,Italy,2015,2015,11.0,NaN,NaN
84595,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,JPN,Japan,2015,2015,196.0,NaN,NaN
84611,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,KOR,Korea,2015,2015,40.0,NaN,NaN
86575,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2015,2015,0.0,NaN,NaN
84631,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,LUX,Luxembourg,2015,2015,4.0,NaN,NaN
84651,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,NLD,Netherlands,2015,2015,67.0,NaN,NaN
84667,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,NZL,New Zealand,2015,2015,62.0,NaN,NaN
84687,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,NOR,Norway,2015,2015,14.0,NaN,NaN
84697,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,POL,Poland,2015,2015,19.0,NaN,NaN
84704,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,SVK,Slovak Republic,2015,2015,1.0,NaN,NaN
84723,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,ESP,Spain,2015,2015,12.0,NaN,NaN
84739,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,SWE,Sweden,2015,2015,25.0,NaN,NaN
84745,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,CHE,Switzerland,2015,2015,35.0,NaN,NaN
84757,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,GBR,United Kingdom,2015,2015,1000.0,NaN,NaN
84776,ZWE,Zimbabwe,B11,Inflows of foreign population by nationality,TOT,Total,USA,United States,2015,2015,779.0,NaN,NaN

In [113]:
#again we define an empty dataframe
emptyframe2 = pd.DataFrame(columns=['Country of Birth',"Destination","Emigration sum",'Emigration per cap'])
            
counter=0
#and now we iterate through the dataframe
for index, row in testdata.iterrows():
    counter+=1
    #this is just a simple progress counter
    if (counter%2000==0):
        print(counter)
    #only when the variable is about the inflow we process the data
    if row[3]=="Inflows of foreign population by nationality":
        #we set the birthcountry variable on the "Country of birth/nationality" value of the row and annus to the row's year
        birthcountry=row[1]
        annus=str(row["Year"])
        #we set the migdestination variable on the "Country" value of the row, so the country that has taken up the migrants
        migdestination=row["Country"]
        try:
            #now we dividee the migration number by the population
            mig=row["Value"]
            migpercap=row["Value"]/(int(population.loc[birthcountry][annus].replace(" ", ""))*1000)
            #and append all three variables to the dataframe
            df2 = pd.DataFrame([[birthcountry,annus, migdestination,mig,migpercap]], columns=['Country of Birth',"Year","Destination","Emigration sum",'Emigration per cap'])
            emptyframe2=emptyframe2.append(df2,ignore_index=True)
       
        except KeyError:
                pass

2000
4000
6000
8000
10000
12000
14000
16000
18000
20000
22000
24000
26000
28000
30000
32000
34000
36000
38000
40000
42000
44000
46000
48000
50000
52000
54000
56000
58000
60000
62000
64000
66000
68000
70000
72000
74000
76000
78000
80000
82000
84000
86000

In [114]:
emptyframe2

,Country of Birth,Destination,Emigration per cap,Emigration sum,Year
0,Afghanistan,Canada,1.127756e-04,2010.0,1996
1,Afghanistan,Denmark,1.879594e-05,335.0,1996
2,Afghanistan,France,7.350053e-06,131.0,1996
3,Afghanistan,Germany,3.938170e-04,7019.0,1996
4,Afghanistan,Luxembourg,5.610728e-08,1.0,1996
5,Afghanistan,Norway,2.244291e-07,4.0,1996
6,Afghanistan,Sweden,3.198115e-05,570.0,1996
7,Afghanistan,Turkey,1.512091e-04,2695.0,1996
8,Afghanistan,Australia,2.001958e-05,368.0,1997
9,Afghanistan,Canada,1.150582e-04,2115.0,1997
10,Afghanistan,Denmark,1.735393e-05,319.0,1997
11,Afghanistan,Finland,4.352084e-07,8.0,1997
12,Afghanistan,France,5.004896e-06,92.0,1997
13,Afghanistan,Germany,3.006202e-04,5526.0,1997
14,Afghanistan,Luxembourg,5.440104e-08,1.0,1997
15,Afghanistan,Norway,1.849636e-06,34.0,1997
16,Afghanistan,Spain,1.088021e-07,2.0,1997
17,Afghanistan,Sweden,3.329344e-05,612.0,1997
18,Afghanistan,Turkey,1.595583e-04,2933.0,1997
19,Afghanistan,United States,6.130998e-05,1127.0,1997
20,Afghanistan,Australia,3.286684e-05,620.0,1998
21,Afghanistan,Austria,1.049618e-05,198.0,1998
22,Afghanistan,Canada,8.391645e-05,1583.0,1998
23,Afghanistan,Denmark,2.348388e-05,443.0,1998
24,Afghanistan,Finland,7.951654e-07,15.0,1998
25,Afghanistan,France,4.611959e-06,87.0,1998
26,Afghanistan,Germany,2.527566e-04,4768.0,1998
27,Afghanistan,Israel,0.000000e+00,0.0,1998
28,Afghanistan,Luxembourg,0.000000e+00,0.0,1998
29,Afghanistan,Norway,2.226463e-06,42.0,1998
...,...,...,...,...,...
80284,Zimbabwe,Switzerland,1.816766e-06,28.0,2014
80285,Zimbabwe,United States,5.171295e-05,797.0,2014
80286,Zimbabwe,Australia,5.108703e-05,806.0,2015
80287,Zimbabwe,Austria,8.873677e-07,14.0,2015
80288,Zimbabwe,Belgium,1.964886e-06,31.0,2015
80289,Zimbabwe,Canada,1.508525e-05,238.0,2015
80290,Zimbabwe,Chile,6.338341e-08,1.0,2015
80291,Zimbabwe,Czech Republic,3.803004e-07,6.0,2015
80292,Zimbabwe,Denmark,5.070672e-07,8.0,2015
80293,Zimbabwe,Estonia,0.000000e+00,0.0,2015
80294,Zimbabwe,Finland,3.169170e-07,5.0,2015
80295,Zimbabwe,France,1.077518e-06,17.0,2015
80296,Zimbabwe,Germany,1.293021e-05,204.0,2015
80297,Zimbabwe,Hungary,3.803004e-07,6.0,2015
80298,Zimbabwe,Iceland,6.338341e-08,1.0,2015
80299,Zimbabwe,Italy,6.972175e-07,11.0,2015
80300,Zimbabwe,Japan,1.242315e-05,196.0,2015
80301,Zimbabwe,Korea,2.535336e-06,40.0,2015
80302,Zimbabwe,Latvia,0.000000e+00,0.0,2015
80303,Zimbabwe,Luxembourg,2.535336e-07,4.0,2015
80304,Zimbabwe,Netherlands,4.246688e-06,67.0,2015
80305,Zimbabwe,New Zealand,3.929771e-06,62.0,2015
80306,Zimbabwe,Norway,8.873677e-07,14.0,2015
80307,Zimbabwe,Poland,1.204285e-06,19.0,2015
80308,Zimbabwe,Slovak Republic,6.338341e-08,1.0,2015
80309,Zimbabwe,Spain,7.606009e-07,12.0,2015
80310,Zimbabwe,Sweden,1.584585e-06,25.0,2015
80311,Zimbabwe,Switzerland,2.218419e-06,35.0,2015
80312,Zimbabwe,United Kingdom,6.338341e-05,1000.0,2015
80313,Zimbabwe,United States,4.937567e-05,779.0,2015

In [115]:
migpercap=emptyframe2

In [116]:
#and then we save this dataframe that consists of all bilateral migrations as an average over the years
emptyframe2.to_csv("FinalData/AllMig_bilateral_abs_Yearly.csv",index=False)

In [117]:
#now we use this newly created dataframe to calculate the overall outflow of migrants from any country into OECD countries
testdata=emptyframe2
testdata=testdata.sort_values(by=["Country of Birth","Year"])
testdata.head()
#testdata=testdata.head(1000)

  Country of Birth Destination  Emigration per cap  Emigration sum  Year
0      Afghanistan      Canada        1.127756e-04          2010.0  1996
1      Afghanistan     Denmark        1.879594e-05           335.0  1996
2      Afghanistan      France        7.350053e-06           131.0  1996
3      Afghanistan     Germany        3.938170e-04          7019.0  1996
4      Afghanistan  Luxembourg        5.610728e-08             1.0  1996

In [118]:
#again we create an emptydataframe
emptyframe3 = pd.DataFrame(columns=['Country of Birth','Emigration per cap over all OECD','Emigration sum over all OECD countries',"Year"])
#we set the variables to default values
previousbirth="0"
previousannus="0"
sumOECD=0
sumOECDpercap=0
counter=0
#we iterate through the dataframe
for index, row in testdata.iterrows():
    counter+=1
    if (counter%2000==0):
        print(counter)
    #in each row the country of birth variable is taken from the rows 0th column
    birthcountry=row[0]
    #and the row's year
    annus=row[4]
    #if the previous birth country was not the default value and is not the current birth country
    #or the year is not the year of this row is different from the row before
    if (previousbirth != "0" and previousbirth!=birthcountry)or(previousannus != "0" and previousannus!=annus):
        #we then append the country of birth, the year and the sum of emigration to the dataframe
        df2 = pd.DataFrame([[previousbirth,sumOECDpercap,sumOECD,previousannus]], columns=['Country of Birth','Emigration per cap over all OECD','Emigration sum over all OECD countries',"Year"])
        emptyframe3=emptyframe3.append(df2,ignore_index=True)
        #we reset the number of migrants to zero and then add the value of the current row
        sumOECD=0
        sumOECD+=row["Emigration sum"]
        sumOECDpercap=0
        sumOECDpercap+=row["Emigration per cap"]
        #and we change the previousbirth variable to the one of the current country
        #and the previous year to the one of the current yrow
        previousbirth=birthcountry
        previousannus=annus
    #if the previous row and the current row have the same birthcountry then
    else:
        #we keep adding the value of emigration to the sum
        sumOECD+=row["Emigration sum"]
        sumOECDpercap+=row["Emigration per cap"]
        #and we also change the previousbirth variable to the one of the current country
        previousbirth=birthcountry
        previousannus=annus

2000
4000
6000
8000
10000
12000
14000
16000
18000
20000
22000
24000
26000
28000
30000
32000
34000
36000
38000
40000
42000
44000
46000
48000
50000
52000
54000
56000
58000
60000
62000
64000
66000
68000
70000
72000
74000
76000
78000
80000

In [119]:
#now we rename this new dataframe and rename the column to prepare a merge
migoverall=emptyframe3.rename(index=str, columns={"Country of Birth": "Recipient"})
#and save the migration figures
migoverall.to_csv("FinalData/migToOECD_avg_yearly.csv", index=False)
print(len(migoverall))
migoverall.head()

3859

,Recipient,Emigration per cap over all OECD,Emigration sum over all OECD countries,Year
0,Afghanistan,0.000716,12765.0,1996
1,Afghanistan,0.000715,13137.0,1997
2,Afghanistan,0.000645,12173.0,1998
3,Afghanistan,0.000613,11885.0,1999
4,Afghanistan,0.000824,16550.0,2000

In [120]:
#migoverall=pd.read_csv("migToOECD_avg_yearly.csv")

In [121]:
migoverall.tail()

,Recipient,Emigration per cap over all OECD,Emigration sum over all OECD countries,Year
3854,Zimbabwe,0.000311,4377.0,2010
3855,Zimbabwe,0.000315,4538.0,2011
3856,Zimbabwe,0.000349,5134.0,2012
3857,Zimbabwe,0.000207,3116.0,2013
3858,Zimbabwe,0.000169,2608.0,2014

In [122]:
#we load in the data for each country and its migration per capita
migoverall=migoverall.sort_values(by=["Recipient", "Year"])
testdata=migoverall

In [123]:
#and now we also calculate three year averages
emptyframe3 = pd.DataFrame(columns=['Recipient','Report Year',"3yrAverage Migration per Cap","3yrAverage Migration"])
#We set up some variables that should store what was in the row before and the row even before that
previousrecipient="0"
recipient2="0"

previousyear=0
year2=0

previousmig=0
mig2=0

previousmigcap=0
migcap2=0

#we iteratre through the dataframe
for index, row in testdata.iterrows():
    #and get the recipient, the year and the number of migrants per capita
    recipient=row[0]
    year=int(row[3])
    migcap=row[1]
    mig=row[2]
    
    #we check whether we have three continous years
    #and the same country
    if (year-1==previousyear)and(previousyear-1==year2):
        if (recipient==previousrecipient)and(previousrecipient==recipient2):
            #then we calculate the 3year-average
            averagecap=(migcap+previousmigcap+migcap2)/3
            average=(mig+previousmig+mig2)/3
            #and add for the report year 1 year
            reportyear=int(year+1)
            #then we append the variables to the dataframe
            df2 = pd.DataFrame([[recipient,reportyear,averagecap,average]], columns=['Recipient','Report Year',"3yrAverage Migration per Cap","3yrAverage Migration"])
            emptyframe3=emptyframe3.append(df2,ignore_index=True)
            
            #we shift all variables by one row/year
            recipient2=previousrecipient
            previousrecipient=recipient

            year2=previousyear
            previousyear=year
            
            migcap2=previousmigcap
            previousmigcap=migcap
            
            mig2=previousmig
            previousmig=mig
        else:
            pass
    
    else:
        pass
        #we shift all variables by one row/year

        recipient2=previousrecipient
        previousrecipient=recipient

        year2=previousyear
        previousyear=year
        
        migcap2=previousmigcap
        previousmigcap=migcap

        mig2=previousmig
        previousmig=mig

In [124]:
emptyframe3.head()

,Recipient,Report Year,3yrAverage Migration per Cap,3yrAverage Migration
0,Afghanistan,1999.0,0.000692,12691.666667
1,Afghanistan,2000.0,0.000657,12398.333333
2,Afghanistan,2001.0,0.000694,13536.000000
3,Afghanistan,2002.0,0.000794,16096.000000
4,Afghanistan,2003.0,0.000820,17182.000000

In [125]:
#and now we save this three year average of migration
emptyframe3.to_csv("FinalData/AllMig_3YearAVG_absolute.csv")

In [126]:
#and define it as the migration over 3 years
mig3yrs=emptyframe3
mig3yrs.head()

,Recipient,Report Year,3yrAverage Migration per Cap,3yrAverage Migration
0,Afghanistan,1999.0,0.000692,12691.666667
1,Afghanistan,2000.0,0.000657,12398.333333
2,Afghanistan,2001.0,0.000694,13536.000000
3,Afghanistan,2002.0,0.000794,16096.000000
4,Afghanistan,2003.0,0.000820,17182.000000

In [127]:
#this is the average migration just for one year
migoverall.head()

,Recipient,Emigration per cap over all OECD,Emigration sum over all OECD countries,Year
0,Afghanistan,0.000716,12765.0,1996
1,Afghanistan,0.000715,13137.0,1997
2,Afghanistan,0.000645,12173.0,1998
3,Afghanistan,0.000613,11885.0,1999
4,Afghanistan,0.000824,16550.0,2000

In [128]:
#and this is the sum of dev aid spent in 3year periods
devaid3yrs.head()

     Recipient  Report Year  3yrAverage Money  3yrAverage Money per cap
0  Afghanistan       1996.0      8.471000e+07                 18.218528
1  Afghanistan       1997.0      1.530267e+08                 15.158800
2  Afghanistan       1998.0      2.553067e+08                 14.351002
3  Afghanistan       1999.0      2.446233e+08                 13.321431
4  Afghanistan       2000.0      2.410600e+08                 12.825481

In [129]:
#we had to rename the Year to Report Year and change it to floar for the next merge 
migoverall=migoverall.rename(columns={"Year":"Report Year"})
migoverall["Report Year"]=migoverall["Report Year"].astype(float)
migoverall.head()

,Recipient,Emigration per cap over all OECD,Emigration sum over all OECD countries,Report Year
0,Afghanistan,0.000716,12765.0,1996.0
1,Afghanistan,0.000715,13137.0,1997.0
2,Afghanistan,0.000645,12173.0,1998.0
3,Afghanistan,0.000613,11885.0,1999.0
4,Afghanistan,0.000824,16550.0,2000.0

In [130]:
#we now merge two dataframe by the column "Recipient" and only values are preserved that exist in both dataframes
#this is the merge between 3yr average for dev aid and the migration by year
result31=pd.merge(devaid3yrs,migoverall, on=["Recipient","Report Year"], how="inner")

In [131]:
#we now merge two dataframe by the column "Recipient" and only values are preserved that exist in both dataframes
#this is the merge between 3yr average for dev aid and the 3yr average of migration by year
result33=pd.merge(devaid3yrs,mig3yrs, on=["Recipient","Report Year"], how="inner")

In [132]:
#we get rid of all zero values and all NaN
result31=result31[(result31 != 0).all(1)]
result31=result31.dropna()
len(result31)

2549

In [133]:
result33=result33[(result33 != 0).all(1)]
result33=result33.dropna()
len(result33)

2277

In [134]:
result31.head()

,Recipient,Report Year,3yrAverage Money,3yrAverage Money per cap,Emigration per cap over all OECD,Emigration sum over all OECD countries
0,Afghanistan,1996.0,8.471000e+07,18.218528,0.000716,12765.0
1,Afghanistan,1997.0,1.530267e+08,15.158800,0.000715,13137.0
2,Afghanistan,1998.0,2.553067e+08,14.351002,0.000645,12173.0
3,Afghanistan,1999.0,2.446233e+08,13.321431,0.000613,11885.0
4,Afghanistan,2000.0,2.410600e+08,12.825481,0.000824,16550.0

In [135]:
#and  save the results
result33.to_csv("FinalData/Migration3VSMoney3YearAVG_abs_ODA.csv", index=False)
result31.to_csv("FinalData/Migration1VSMoney3YearAVG_abs_ODA.csv", index=False)

In [136]:
#now we want to add a classification of continenty for each country
asia=pd.read_csv("Raw_data/Continents/asia.csv")
asia=asia["ASIA"].tolist()
europe=pd.read_csv("Raw_data/Continents/europe.csv")
europe=europe["EUROPE"].tolist()
africa=pd.read_csv("Raw_data/Continents/africa.csv", encoding='latin1')
africa=africa["AFRICA"].tolist()
carribeans=pd.read_csv("Raw_data/Continents/carribeans.csv", encoding='latin1')
carribeans=carribeans["Caribbean"].tolist()
americas=pd.read_csv("Raw_data/Continents/americas.csv", encoding='latin1')
americas=americas["Central America"].tolist()
oceania=pd.read_csv("Raw_data/Continents/oceania.csv", encoding='latin1')
oceania=oceania["OCEANIA"].tolist()
oceania

['Australia/New Zealand',
 'Australia',
 'New Zealand',
 'Melanesia',
 'Fiji',
 'New Caledonia',
 'Papua New Guinea',
 'Solomon Islands',
 'Vanuatu',
 'Micronesia',
 'Guam',
 'Kiribati',
 'Marshall Islands',
 'Micronesia (Fed. States of)',
 'Nauru',
 'Northern Mariana Islands',
 'Palau',
 'Polynesia',
 'American Samoa',
 'Cook Islands',
 'French Polynesia',
 'Niue',
 'Samoa',
 'Tokelau',
 'Tonga',
 'Tuvalu',
 'Wallis and Futuna Islands']

In [137]:
result33["Continent"]="None"
result31["Continent"]="None"

result31.head()

,Recipient,Report Year,3yrAverage Money,3yrAverage Money per cap,Emigration per cap over all OECD,Emigration sum over all OECD countries,Continent
0,Afghanistan,1996.0,8.471000e+07,18.218528,0.000716,12765.0,None
1,Afghanistan,1997.0,1.530267e+08,15.158800,0.000715,13137.0,None
2,Afghanistan,1998.0,2.553067e+08,14.351002,0.000645,12173.0,None
3,Afghanistan,1999.0,2.446233e+08,13.321431,0.000613,11885.0,None
4,Afghanistan,2000.0,2.410600e+08,12.825481,0.000824,16550.0,None

In [138]:
#we load in the dataframe for the 31 version
result=result31
result["Continent"][result["Recipient"].isin(asia)==True] = 'ASIA'
result["Continent"][result["Recipient"].isin(europe)==True] = 'EUROPE'
result["Continent"][result["Recipient"].isin(africa)==True] = 'AFRICA'
result["Continent"][result["Recipient"].isin(americas)==True] = 'AMERICA'
result["Continent"][result["Recipient"].isin(oceania)==True] = 'OCEANIA'
result["Continent"][result["Recipient"].isin(carribeans)==True] = 'CARRIBEANS'

result

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Recipient,Report Year,3yrAverage Money,3yrAverage Money per cap,Emigration per cap over all OECD,Emigration sum over all OECD countries,Continent
0,Afghanistan,1996.0,8.471000e+07,18.218528,0.000716,12765.0,ASIA
1,Afghanistan,1997.0,1.530267e+08,15.158800,0.000715,13137.0,ASIA
2,Afghanistan,1998.0,2.553067e+08,14.351002,0.000645,12173.0,ASIA
3,Afghanistan,1999.0,2.446233e+08,13.321431,0.000613,11885.0,ASIA
4,Afghanistan,2000.0,2.410600e+08,12.825481,0.000824,16550.0,ASIA
5,Afghanistan,2001.0,2.065400e+08,10.633493,0.000947,19853.0,ASIA
6,Afghanistan,2002.0,3.447067e+08,16.830094,0.000689,15143.0,ASIA
7,Afghanistan,2003.0,9.037933e+08,41.875147,0.000587,13528.0,ASIA
8,Afghanistan,2004.0,1.485807e+09,66.674396,0.000550,13267.0,ASIA
9,Afghanistan,2005.0,2.136387e+09,92.325087,0.000674,16906.0,ASIA
10,Afghanistan,2006.0,2.567073e+09,106.004533,0.000599,15508.0,ASIA
11,Afghanistan,2007.0,2.983607e+09,119.014405,0.000473,12596.0,ASIA
12,Afghanistan,2008.0,3.796883e+09,146.212038,0.000526,14353.0,ASIA
13,Afghanistan,2009.0,4.323923e+09,162.096007,0.000669,18727.0,ASIA
14,Afghanistan,2010.0,5.335007e+09,195.096638,0.000812,23381.0,ASIA
15,Afghanistan,2011.0,5.796020e+09,206.323342,0.000933,27707.0,ASIA
16,Afghanistan,2012.0,6.342863e+09,220.019689,0.001061,32556.0,ASIA
17,Afghanistan,2013.0,6.331207e+09,213.132093,0.000991,31438.0,ASIA
18,Afghanistan,2014.0,5.786667e+09,189.122901,0.001391,45576.0,ASIA
19,Afghanistan,2015.0,5.204507e+09,164.683184,0.004156,140217.0,ASIA
20,Albania,1996.0,3.049263e+09,83.981712,0.000806,2491.0,EUROPE
21,Albania,1997.0,1.593693e+09,74.249447,0.002665,8244.0,EUROPE
22,Albania,1998.0,2.326000e+08,75.109423,0.007242,22480.0,EUROPE
23,Albania,1999.0,2.794933e+08,90.238618,0.011682,36401.0,EUROPE
24,Albania,2000.0,4.084467e+08,131.396987,0.013052,40749.0,EUROPE
25,Albania,2001.0,4.926100e+08,158.139454,0.011582,36160.0,EUROPE
26,Albania,2002.0,5.121533e+08,164.182014,0.010211,31847.0,EUROPE
27,Albania,2003.0,4.402833e+08,141.071576,0.018188,56582.0,EUROPE
28,Albania,2004.0,4.295400e+08,137.794894,0.015112,46818.0,EUROPE
29,Albania,2005.0,4.111933e+08,132.211604,0.025194,77571.0,EUROPE
...,...,...,...,...,...,...,...
2538,Zambia,2005.0,1.410953e+09,123.502450,0.000079,957.0,AFRICA
2539,Zambia,2006.0,1.616637e+09,137.190246,0.000096,1187.0,AFRICA
2540,Zambia,2007.0,2.892270e+09,237.391317,0.000079,1011.0,AFRICA
2541,Zambia,2008.0,2.712440e+09,219.858334,0.000091,1189.0,AFRICA
2542,Zambia,2009.0,2.369103e+09,189.093831,0.000096,1286.0,AFRICA
2543,Zambia,2010.0,1.082580e+09,82.602794,0.000095,1314.0,AFRICA
2544,Zambia,2011.0,1.049650e+09,78.113266,0.000095,1355.0,AFRICA
2545,Zambia,2012.0,1.028250e+09,74.408004,0.000098,1440.0,AFRICA
2546,Zambia,2013.0,9.393300e+08,65.822995,0.000087,1316.0,AFRICA
2547,Zambia,2014.0,1.005430e+09,68.333505,0.000075,1173.0,AFRICA
2548,Zambia,2015.0,1.003740e+09,66.236857,0.000072,1163.0,AFRICA
2549,Zimbabwe,1996.0,8.576000e+08,66.360645,0.000100,1150.0,AFRICA
2550,Zimbabwe,1997.0,6.982733e+08,58.843957,0.000058,676.0,AFRICA
2551,Zimbabwe,1998.0,5.632367e+08,49.035462,0.000191,2269.0,AFRICA
2552,Zimbabwe,1999.0,4.743300e+08,40.546215,0.000270,3258.0,AFRICA
2553,Zimbabwe,2000.0,4.423867e+08,37.246178,0.000265,3234.0,AFRICA
2554,Zimbabwe,2001.0,3.849833e+08,31.979525,0.000526,6508.0,AFRICA
2555,Zimbabwe,2002.0,3.225033e+08,26.446893,0.000183,2287.0,AFRICA
2556,Zimbabwe,2003.0,2.864233e+08,23.173919,0.000221,2793.0,AFRICA
2557,Zimbabwe,2004.0,2.653600e+08,21.234811,0.000333,4261.0,AFRICA
2558,Zimbabwe,2005.0,2.561367e+08,20.286711,0.000267,3451.0,AFRICA
2559,Zimbabwe,2006.0,2.944733e+08,22.984144,0.000263,3454.0,AFRICA
2560,Zimbabwe,2007.0,3.113167e+08,24.028624,0.000280,3731.0,AFRICA
2561,Zimbabwe,2008.0,3.881033e+08,29.537700,0.000291,3942.0,AFRICA
2562,Zimbabwe,2009.0,4.497433e+08,33.604802,0.000294,4055.0,AFRICA
2563,Zimbabwe,2010.0,5.969033e+08,43.889809,0.000311,4377.0,AFRICA
2564,Zimbabwe,2011.0,6.738900e+08,48.733827,0.000315,4538.0,AFRICA
2565,Zimbabwe,2012.0,6.961267e+08,49.439197,0.000349,5134.0,AFRICA
2566,Zimbabwe,2013.0,7.642367e+08,52.984451,0.000207,3116.0,AFRICA
2567,Zimbabwe,2014.0,7.940667e+08,53.908793,0.000169,2608.0,AFRICA

In [139]:
result.to_csv("FinalData/MigrationVSMoney31_continents.csv", index=False)

In [140]:
#we load in the dataframe for the 33 version
result=result33
result["Continent"][result["Recipient"].isin(asia)==True] = 'ASIA'
result["Continent"][result["Recipient"].isin(europe)==True] = 'EUROPE'
result["Continent"][result["Recipient"].isin(africa)==True] = 'AFRICA'
result["Continent"][result["Recipient"].isin(americas)==True] = 'AMERICA'
result["Continent"][result["Recipient"].isin(oceania)==True] = 'OCEANIA'
result["Continent"][result["Recipient"].isin(carribeans)==True] = 'CARRIBEANS'

result33=result

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [141]:
result.to_csv("FinalData/MigrationVSMoney33_continents.csv", index=False)

In [142]:
Oceania=pd.read_csv("Raw_data/Regions/oceania.csv", encoding="latin1", header=None)
Oceania=Oceania[0].tolist()
Carribeans=pd.read_csv("Raw_data/Regions/Carribeans.csv", encoding="latin1")
Carribeans=Carribeans["Caribbean"].tolist()
CentralAmerica=pd.read_csv("Raw_data/Regions/CentralAmerica.csv")
CentralAmerica=CentralAmerica["Central America"].tolist()
NorthernAmerica=pd.read_csv("Raw_data/Regions/NorthernAmerica.csv", header=None)
NorthernAmerica=NorthernAmerica[0].tolist()
SouthernAmerica=pd.read_csv("Raw_data/Regions/SouthernAmerica.csv", header=None)
SouthernAmerica=SouthernAmerica[0].tolist()
WesternEurope=pd.read_csv("Raw_data/Regions/WesternEurope.csv", header=None)
WesternEurope=WesternEurope[0].tolist()
SouthernEurope=pd.read_csv("Raw_data/Regions/SouthernEurope.csv", header=None)
SouthernEurope=SouthernEurope[0].tolist()
NorthernEurope=pd.read_csv("Raw_data/Regions/NorthernEurope.csv", header=None)
NorthernEurope=NorthernEurope[0].tolist()
EasternEurope=pd.read_csv("Raw_data/Regions/EasternEurope.csv", header=None)
EasternEurope=EasternEurope[0].tolist()
WesternAsia=pd.read_csv("Raw_data/Regions/WesternAsia.csv", header=None)
WesternAsia=WesternAsia[0].tolist()
SouthernEastAsia=pd.read_csv("Raw_data/Regions/SouthernEastAsia.csv", header=None)
SouthernEastAsia=SouthernEastAsia[0].tolist()
SouthernAsia=pd.read_csv("Raw_data/Regions/SouthernAsia.csv", header=None)
SouthernAsia=SouthernAsia[0].tolist()
CentralAsia=pd.read_csv("Raw_data/Regions/CentralAsia.csv", header=None)
CentralAsia=CentralAsia[0].tolist()
EasternAsia=pd.read_csv("Raw_data/Regions/EasternAsia.csv", header=None)
EasternAsia=EasternAsia[0].tolist()
WesternAfrica=pd.read_csv("Raw_data/Regions/WesternAfrica.csv", header=None, encoding="latin1")
WesternAfrica=WesternAfrica[0].tolist()
SouthernAfrica=pd.read_csv("Raw_data/Regions/SouthernAfrica.csv", header=None)
SouthernAfrica=SouthernAfrica[0].tolist()
EasternAfrica=pd.read_csv("Raw_data/Regions/EasternAfrica.csv", header=None, encoding="latin1")
EasternAfrica=EasternAfrica[0].tolist()
NorthernAfrica=pd.read_csv("Raw_data/Regions/NorthernAfrica.csv", header=None)
NorthernAfrica=NorthernAfrica[0].tolist()
MiddleAfrica=pd.read_csv("Raw_data/Regions/MiddleAfrica.csv", header=None)
MiddleAfrica=MiddleAfrica[0].tolist()
CentralAsia

['Kazakhstan',
 'Kyrgyzstan',
 'Tajikistan',
 'Turkmenistan',
 'Uzbekistan',
 'Uzbekistan']

In [143]:
result=result33
result["Region"]="None"
result["Region"][result["Recipient"].isin(Oceania)==True] = 'Oceania'
result["Region"][result["Recipient"].isin(Carribeans)==True] = 'Carribeans'
result["Region"][result["Recipient"].isin(CentralAmerica)==True] = 'CentralAmerica'
result["Region"][result["Recipient"].isin(NorthernAmerica)==True] = 'NorthernAmerica'
result["Region"][result["Recipient"].isin(SouthernAmerica)==True] = 'SouthernAmerica'
result["Region"][result["Recipient"].isin(WesternEurope)==True] = 'WesternEurope'
result["Region"][result["Recipient"].isin(NorthernEurope)==True] = 'NorthernEurope'
result["Region"][result["Recipient"].isin(EasternEurope)==True] = 'EasternEurope'
result["Region"][result["Recipient"].isin(SouthernEurope)==True] = 'SouthernEurope'
result["Region"][result["Recipient"].isin(WesternAsia)==True] = 'WesternAsia'
result["Region"][result["Recipient"].isin(CentralAsia)==True] = 'CentralAsia'
result["Region"][result["Recipient"].isin(SouthernEastAsia)==True] = 'SouthernEastAsia'
result["Region"][result["Recipient"].isin(SouthernAsia)==True] = 'SouthernAsia'
result["Region"][result["Recipient"].isin(EasternAsia)==True] = 'EasternAsia'
result["Region"][result["Recipient"].isin(WesternAfrica)==True] = 'WesternAfrica'
result["Region"][result["Recipient"].isin(SouthernAfrica)==True] = 'SouthernAfrica'
result["Region"][result["Recipient"].isin(EasternAfrica)==True] = 'EasternAfrica'
result["Region"][result["Recipient"].isin(NorthernAfrica)==True] = 'NorthernAfrica'
result["Region"][result["Recipient"].isin(MiddleAfrica)==True] = 'MiddleAfrica'

result33=result

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [144]:
result=result31
result["Region"]="None"
result["Region"][result["Recipient"].isin(Oceania)==True] = 'Oceania'
result["Region"][result["Recipient"].isin(Carribeans)==True] = 'Carribeans'
result["Region"][result["Recipient"].isin(CentralAmerica)==True] = 'CentralAmerica'
result["Region"][result["Recipient"].isin(NorthernAmerica)==True] = 'NorthernAmerica'
result["Region"][result["Recipient"].isin(SouthernAmerica)==True] = 'SouthernAmerica'
result["Region"][result["Recipient"].isin(WesternEurope)==True] = 'WesternEurope'
result["Region"][result["Recipient"].isin(NorthernEurope)==True] = 'NorthernEurope'
result["Region"][result["Recipient"].isin(EasternEurope)==True] = 'EasternEurope'
result["Region"][result["Recipient"].isin(SouthernEurope)==True] = 'SouthernEurope'
result["Region"][result["Recipient"].isin(WesternAsia)==True] = 'WesternAsia'
result["Region"][result["Recipient"].isin(CentralAsia)==True] = 'CentralAsia'
result["Region"][result["Recipient"].isin(SouthernEastAsia)==True] = 'SouthernEastAsia'
result["Region"][result["Recipient"].isin(SouthernAsia)==True] = 'SouthernAsia'
result["Region"][result["Recipient"].isin(EasternAsia)==True] = 'EasternAsia'
result["Region"][result["Recipient"].isin(WesternAfrica)==True] = 'WesternAfrica'
result["Region"][result["Recipient"].isin(SouthernAfrica)==True] = 'SouthernAfrica'
result["Region"][result["Recipient"].isin(EasternAfrica)==True] = 'EasternAfrica'
result["Region"][result["Recipient"].isin(NorthernAfrica)==True] = 'NorthernAfrica'
result["Region"][result["Recipient"].isin(MiddleAfrica)==True] = 'MiddleAfrica'

result31=result

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [145]:
result33.to_csv("FinalData/MigVsMoney_Cont_Reg33.csv", index=False)
result31.to_csv("FinalData/MigVsMoney_Cont_Reg31.csv", index=False)

result31

,Recipient,Report Year,3yrAverage Money,3yrAverage Money per cap,Emigration per cap over all OECD,Emigration sum over all OECD countries,Continent,Region
0,Afghanistan,1996.0,8.471000e+07,18.218528,0.000716,12765.0,ASIA,SouthernAsia
1,Afghanistan,1997.0,1.530267e+08,15.158800,0.000715,13137.0,ASIA,SouthernAsia
2,Afghanistan,1998.0,2.553067e+08,14.351002,0.000645,12173.0,ASIA,SouthernAsia
3,Afghanistan,1999.0,2.446233e+08,13.321431,0.000613,11885.0,ASIA,SouthernAsia
4,Afghanistan,2000.0,2.410600e+08,12.825481,0.000824,16550.0,ASIA,SouthernAsia
5,Afghanistan,2001.0,2.065400e+08,10.633493,0.000947,19853.0,ASIA,SouthernAsia
6,Afghanistan,2002.0,3.447067e+08,16.830094,0.000689,15143.0,ASIA,SouthernAsia
7,Afghanistan,2003.0,9.037933e+08,41.875147,0.000587,13528.0,ASIA,SouthernAsia
8,Afghanistan,2004.0,1.485807e+09,66.674396,0.000550,13267.0,ASIA,SouthernAsia
9,Afghanistan,2005.0,2.136387e+09,92.325087,0.000674,16906.0,ASIA,SouthernAsia
10,Afghanistan,2006.0,2.567073e+09,106.004533,0.000599,15508.0,ASIA,SouthernAsia
11,Afghanistan,2007.0,2.983607e+09,119.014405,0.000473,12596.0,ASIA,SouthernAsia
12,Afghanistan,2008.0,3.796883e+09,146.212038,0.000526,14353.0,ASIA,SouthernAsia
13,Afghanistan,2009.0,4.323923e+09,162.096007,0.000669,18727.0,ASIA,SouthernAsia
14,Afghanistan,2010.0,5.335007e+09,195.096638,0.000812,23381.0,ASIA,SouthernAsia
15,Afghanistan,2011.0,5.796020e+09,206.323342,0.000933,27707.0,ASIA,SouthernAsia
16,Afghanistan,2012.0,6.342863e+09,220.019689,0.001061,32556.0,ASIA,SouthernAsia
17,Afghanistan,2013.0,6.331207e+09,213.132093,0.000991,31438.0,ASIA,SouthernAsia
18,Afghanistan,2014.0,5.786667e+09,189.122901,0.001391,45576.0,ASIA,SouthernAsia
19,Afghanistan,2015.0,5.204507e+09,164.683184,0.004156,140217.0,ASIA,SouthernAsia
20,Albania,1996.0,3.049263e+09,83.981712,0.000806,2491.0,EUROPE,SouthernEurope
21,Albania,1997.0,1.593693e+09,74.249447,0.002665,8244.0,EUROPE,SouthernEurope
22,Albania,1998.0,2.326000e+08,75.109423,0.007242,22480.0,EUROPE,SouthernEurope
23,Albania,1999.0,2.794933e+08,90.238618,0.011682,36401.0,EUROPE,SouthernEurope
24,Albania,2000.0,4.084467e+08,131.396987,0.013052,40749.0,EUROPE,SouthernEurope
25,Albania,2001.0,4.926100e+08,158.139454,0.011582,36160.0,EUROPE,SouthernEurope
26,Albania,2002.0,5.121533e+08,164.182014,0.010211,31847.0,EUROPE,SouthernEurope
27,Albania,2003.0,4.402833e+08,141.071576,0.018188,56582.0,EUROPE,SouthernEurope
28,Albania,2004.0,4.295400e+08,137.794894,0.015112,46818.0,EUROPE,SouthernEurope
29,Albania,2005.0,4.111933e+08,132.211604,0.025194,77571.0,EUROPE,SouthernEurope
...,...,...,...,...,...,...,...,...
2538,Zambia,2005.0,1.410953e+09,123.502450,0.000079,957.0,AFRICA,EasternAfrica
2539,Zambia,2006.0,1.616637e+09,137.190246,0.000096,1187.0,AFRICA,EasternAfrica
2540,Zambia,2007.0,2.892270e+09,237.391317,0.000079,1011.0,AFRICA,EasternAfrica
2541,Zambia,2008.0,2.712440e+09,219.858334,0.000091,1189.0,AFRICA,EasternAfrica
2542,Zambia,2009.0,2.369103e+09,189.093831,0.000096,1286.0,AFRICA,EasternAfrica
2543,Zambia,2010.0,1.082580e+09,82.602794,0.000095,1314.0,AFRICA,EasternAfrica
2544,Zambia,2011.0,1.049650e+09,78.113266,0.000095,1355.0,AFRICA,EasternAfrica
2545,Zambia,2012.0,1.028250e+09,74.408004,0.000098,1440.0,AFRICA,EasternAfrica
2546,Zambia,2013.0,9.393300e+08,65.822995,0.000087,1316.0,AFRICA,EasternAfrica
2547,Zambia,2014.0,1.005430e+09,68.333505,0.000075,1173.0,AFRICA,EasternAfrica
2548,Zambia,2015.0,1.003740e+09,66.236857,0.000072,1163.0,AFRICA,EasternAfrica
2549,Zimbabwe,1996.0,8.576000e+08,66.360645,0.000100,1150.0,AFRICA,EasternAfrica
2550,Zimbabwe,1997.0,6.982733e+08,58.843957,0.000058,676.0,AFRICA,EasternAfrica
2551,Zimbabwe,1998.0,5.632367e+08,49.035462,0.000191,2269.0,AFRICA,EasternAfrica
2552,Zimbabwe,1999.0,4.743300e+08,40.546215,0.000270,3258.0,AFRICA,EasternAfrica
2553,Zimbabwe,2000.0,4.423867e+08,37.246178,0.000265,3234.0,AFRICA,EasternAfrica
2554,Zimbabwe,2001.0,3.849833e+08,31.979525,0.000526,6508.0,AFRICA,EasternAfrica
2555,Zimbabwe,2002.0,3.225033e+08,26.446893,0.000183,2287.0,AFRICA,EasternAfrica
2556,Zimbabwe,2003.0,2.864233e+08,23.173919,0.000221,2793.0,AFRICA,EasternAfrica
2557,Zimbabwe,2004.0,2.653600e+08,21.234811,0.000333,4261.0,AFRICA,EasternAfrica
2558,Zimbabwe,2005.0,2.561367e+08,20.286711,0.000267,3451.0,AFRICA,EasternAfrica
2559,Zimbabwe,2006.0,2.944733e+08,22.984144,0.000263,3454.0,AFRICA,EasternAfrica
2560,Zimbabwe,2007.0,3.113167e+08,24.028624,0.000280,3731.0,AFRICA,EasternAfrica
2561,Zimbabwe,2008.0,3.881033e+08,29.537700,0.000291,3942.0,AFRICA,EasternAfrica
2562,Zimbabwe,2009.0,4.497433e+08,33.604802,0.000294,4055.0,AFRICA,EasternAfrica
2563,Zimbabwe,2010.0,5.969033e+08,43.889809,0.000311,4377.0,AFRICA,EasternAfrica
2564,Zimbabwe,2011.0,6.738900e+08,48.733827,0.000315,4538.0,AFRICA,EasternAfrica
2565,Zimbabwe,2012.0,6.961267e+08,49.439197,0.000349,5134.0,AFRICA,EasternAfrica
2566,Zimbabwe,2013.0,7.642367e+08,52.984451,0.000207,3116.0,AFRICA,EasternAfrica
2567,Zimbabwe,2014.0,7.940667e+08,53.908793,0.000169,2608.0,AFRICA,EasternAfrica